<div class="container">
  <div class="row">
      <div class="col-sm">
          <form>
              <div class="form-group">
                  <label for="exampleFormControlSelect1"></label>
                  <select class="form-control" id="IDdousuarioselect">
                      <option>Selecione o usuario</option>
                      <option> Nomeusuario</option>
                  </select>
              </div>
          </form>
      </div>
      <div class="col-sm-1">
          <div class="form-group">
              <label for="exampleFormControlSelect1"></label>
              <div class="form-outline" >
                  <button type="button" class="btn" data-placement="top" title="Adicionar"  (click)="AddIten()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg>
                  </button>
              </div>                        
          </div>
      </div>
      <div class="col-sm-1">
          <div class="form-group">
              <label for="exampleFormControlSelect1"></label>
              <div class="form-outline" >
                  <button type="button" class="btn"  data-placement="top" title="Salvar" (click)="SalvarCadastroTarefas()"><img  width="20" height="20" fill="currentColor" 
                      class="bi bi-save" viewBox="0 0 16 16" src="assets\image\disc-icon-semfundo.png"/>
                  </button>
              </div>                        
          </div>
      </div>                       
  </div>       
</div>
<div>  
  <table class="table table-striped table-hover">   
      <thead>
          <tr>
              <th>usuario</th>
              <th>Tarefa</th>
              <th>Descrição</th>
              <th>Data Inícial da Tarefa</th>
              <th>Data Final da Tarefa</th>
              <th></th>
          </tr>
      </thead>
      <tbody> 
          <tr>
              <td>order.nomeusuario</td>
              <td><input class="form-control" type="text"   /></td>
              <td><input class="form-control" type="text"   /></td>
              <td><input class="form-control" type="date"    /></td>
              <td><input class="form-control" type="date"   /></td>
              <td data-placement="top" title="Deletar">
                  <button class="btn btn-danger" (click)="DeletarIten(1)"> 
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                      <path
                          d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
                      /></svg>
                  </button>
              </td>
          </tr>             
      </tbody>
  </table>    
</div>